.homeContainer {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}

.mainContainer {
  display: flex;
  flex: 1;
  /* height: 100vh; */
  /* background-color: red; */
  align-items: center;
}

.error {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.techCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* max-width: 400px; */
}

.btnTech {
}

.box {
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
}

form input {
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  width: 350px;
  height: 40px;

  border: 3px solid;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;

  margin: 10px;
}
.techs {
  display: flex;

  flex: 2;
  flex-direction: column;
}

.tech--div {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  height: 100%;
  margin: 10px;

  justify-content: space-around;
  align-items: center;
}

p {
  padding: 5px;
}

.userProfile {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  flex: 1;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.counter {
  font-size: 10px;
}

@media (max-width: 700px) {
  .mainContainer {
    flex-direction: column;
    width: 100vw;
  }
} ;
