.textContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.checkContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.checkContainer label {
  padding-left: 10px;
}

.checkContainer input {
  border: 10px solid red;
}
